<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>uFix</title>
    <link rel="stylesheet" href="{% static "bootstrap.min.css" %}">
    <link href="{% static "vendor/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
          rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic'
          rel='stylesheet' type='text/css'>
    <!-- Plugin CSS -->
    <link href="{% static "vendor/magnific-popup/magnific-popup.css" %}" rel="stylesheet">

    <!-- Theme CSS-->
    <link href="{% static "css/creative.min.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static "bootstrap-theme.min.css" %}">
    <script type="text/javascript" src="{% static "jquery-git.min.js" %}"></script>
    <script type="text/javascript" src="{% static "jquery-ui.min.js" %}"></script>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <script src="{% static "js/daypilot/daypilot-all.min.js" %}" type="text/javascript"></script>
    <script src="{% static "vendor/scrollreveal/scrollreveal.min.js" %}"></script>
    <script src="{% static "vendor/magnific-popup/jquery.magnific-popup.min.js" %}"></script>
    <!-- <script src="{% static "js/creative.min.js" %}"></script> -->
    <link rel="stylesheet" href="{% static "jquery-ui.min.css" %}">

    <link rel="stylesheet" type="text/css" href="{% static "login.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/messages.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/list.css" %}">
    <script src="{% static "bootstrap.min.js" %}"></script>
    <style>
        .scheduler_default_corner div:nth-of-type(4) {
            display: none !important;
        }
    </style>
</head>
<body onload="onLoad()">
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Меню <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" style="color: #2b542c;" href="#">Город мастеров uFix</a>
            <div class="navbar-brand page-scroll" id="global_status">
            </div>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a id="login_button" class="page-scroll" data-toggle="modal" data-target="#myModal"
                       style="color: #2b542c; visibility: hidden" href="#">Войти</a>
                </li>
                <li>
                    <a id="logout_button" class="page-scroll" onclick="logout()"
                       style="color: #2b542c; visibility: hidden" href="#">Выйти</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<ul class="nav nav-tabs" role="tablist" style="margin-top: 80px; margin-left: 2%; margin-right: 2%; zoom: 0.7">
    <li role="presentation" class="active"><a href="#profiles" aria-controls="profiles" role="tab" data-toggle="tab">Работа</a>
    </li>
    <li role="presentation"><a href="#masters" aria-controls="masters" role="tab"
                               data-toggle="tab">Мастера</a>
    </li>
    <li role="presentation"><a href="#expenses" aria-controls="expenses" role="tab"
                               data-toggle="tab">Расходы</a>
    </li>
    <li role="presentation"><a href="#income" aria-controls="income" role="tab"
                               data-toggle="tab">Доходы</a>
    </li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab"
                               data-toggle="tab">Сообщения</a>
    </li>
    <li role="presentation"><a href="#subscriptions" aria-controls="subscriptions" role="tab"
                               data-toggle="tab">Подписки</a>
    </li>
</ul>
<div class="tab-content">

    <div role="tabpanel" class="tab-pane active" id="profiles">
        <div id="users_div"></div>
        <div id="daypilot_div" style="margin-left: 2%; margin-right: 2%; overflow-y: scroll;">
            <div id="dp-holder" class="header-content">
                <div id="dp" style=""></div>
            </div>
            <div id="navigator" style="vertical-align: top;position: relative; top: 10%; left: 10%;"></div>
        </div>

        <div class="row" style="margin-left: 2%; margin-top: 15px;">
            <div class="column padding-reset">
                <div class="ui huge message page grid">
                    <p>Для того, чтобы перенести всю работу во вкладку "Доходы" и сделать её недоступной для
                        удаления или редактирования, нажмите кнопку "Утвердить". Утвержденная работа будет
                        отражаться во всех отчетах.</p>
                    <a style="margin-left: 2%; margin-top: 15px; zoom: 0.8" href="#"
                       class="btn btn-warning" id="events_to_transactions"><span
                            class="glyphicon glyphicon-ok-circle"></span> Утвердить</a>
                </div>
            </div>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="masters">
        <div style="margin-left: 2%; margin-right: 2%; margin-top: 10px">
            <div id="result"></div>
            <div class="main-content" style="margin-left: 0">
                <form id="form_new_master">
                    <div class="form-inline">
                        <label for="new_master_name">Новый мастер:</label><input type="text" class="form-control"
                                                                                 id="new_master_name">
                        <button type="submit" class="btn btn-primary btn-primary" style="margin-left: 5px; zoom: 0.8"
                                id="new_master">Добавить <span class="glyphicon glyphicon-pencil"></span></button>
                    </div>
                </form>
            </div>
        </div>

    </div>
    <div role="tabpanel" class="tab-pane" id="expenses">
        <div style="margin-left: 2%; margin-right: 2%; margin-top: 10px">
            <div id="div_transactions_expenses"></div>
            <div class="main-content" style="margin-left: 0">
                <form id="form_new_transaction_expenses">
                    <div class="form-inline">
                        <label for="new_date_e">Дата:</label><input type="date" id="new_date_e" class="form-control"
                                                                    value="{{ today|date:"Y-m-d" }}">
                        <label for="new_transaction_e_text">Новый расход:</label><input type="text" class="form-control"
                                                                                        id="new_transaction_e_text">
                        <label for="new_transaction_e_amount">Сумма:</label><input type="number" class="form-control"
                                                                                   id="new_transaction_e_amount">
                        <button type="submit" class="btn btn-primary btn-primary" style="margin-left: 5px; zoom: 0.8"
                                id="new_master">Добавить <span class="glyphicon glyphicon-pencil"></span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="income">
        <div style="margin-left: 2%; margin-right: 2%; margin-top: 10px">
            <div id="div_transactions_income"></div>
            <div class="main-content" style="margin-left: 0">
                <form id="form_new_transaction_income">
                    <div class="form-inline">
                        <label for="new_date_i">Дата:</label><input type="date" id="new_date_i" class="form-control"
                                                                    value="{{ today|date:"Y-m-d" }}">
                        <label for="new_transaction_i_text">Новый доход:</label><input type="text" class="form-control"
                                                                                       id="new_transaction_i_text">
                        <label for="new_transaction_i_amount">Сумма:</label><input type="number" class="form-control"
                                                                                   id="new_transaction_i_amount">
                        <button type="submit" class="btn btn-primary btn-primary" style="margin-left: 5px; zoom: 0.8"
                                id="new_master">Добавить <span class="glyphicon glyphicon-pencil"></span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="messages">
        <div style="margin-left: 2%; margin-right: 2%; margin-top: 10px">
            <div id="div_dialogs">

                <div id="container">
                    <ul>
                        <!-- row 01 -->
                        <a href="#">
                            <li class="clearfix">
                                <!-- <img src="images/modern-castle-kitchen.png" alt="thumb" class="thumbnail"> -->
                                <h2>Full-Room Mansion with Open Kitchen</h2>
                                <p class="desc">Rental located in Pheonix, AZ. 2 bedrooms 1.5 baths. </p>

                                <span class="price">$2,650/month</span>
                            </li>
                        </a>

                        <!-- row 02 -->
                        <a href="#">
                            <li class="clearfix">
                                <!--  <img src="images/penthouse-with-bar.png" alt="Modern penthouse bar" class="thumbnail"> -->
                                <h2>Modern Penthouse Highrise with Bar</h2>
                                <p class="desc">Rental located in New York City, NY. 1 bedroom 1 bath.</p>

                                <span class="price">$1,800/month</span>
                            </li>
                        </a>

                        <!-- row 03 -->
                        <a href="#">
                            <li class="clearfix">
                                <!--  <img src="images/single-room-loft.png" alt="An adventure room with sofa"
                                     class="thumbnail"> -->
                                <h2>Single-Room 3rd Floor Rental</h2>
                                <p class="desc">Rental located in New York City, NY. 1 bedroom 2 baths.</p>

                                <span class="price">$1,350/month</span>
                            </li>
                        </a>

                    </ul>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="panel panel-default widget">
                            <div class="bubble">Person Namde <br>
                                Helloooo
                            </div>
                            <div class="bubble2">Person Namde <br>
                                Helloooo
                            </div>
                            <div class="panel-heading">
                                <h3 class="panel-title"> online</h3>
                                <span class="operson">1299</span></div>
                            <div class="panel-body">
                                <ul class="list-group ">
                                    <li class="list-group-item bubble">
                                        <div class="row ">
                                            <div class="col-xs-10 col-md-11 "><span class="time">12:00 AM</span>
                                                <div class="ro">
                                                    <h4 class="list-group-item-heading ">person name :</h4>
                                                    <p class="list-group-item-text">person name stat person name
                                                        stat</p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item   ">
                                        <div class="row ">
                                            <div class="col-xs-10 col-md-11 ">
                                                <div class="bubble2"> hellooo bubble</div>
                                            </div>
                                        </div>
                                    </li>
                                    <!--
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-xs-10 col-md-11"><img src="img/img.jpg"> <span class="time">12:00 AM</span>
                                                <h4 class="list-group-item-heading">person name :</h4>
                                                <p class="list-group-item-text">person name stat</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-xs-10 col-md-11"><span class="alter"><img
                                                    src="img/img2.jpg"></span> <span class="timel">12:00 AM</span> <span
                                                    class="alter">
                  <h4 class="list-group-item-heading ">: person name</h4>
                  </span> <span class="altertext"> person name stat</span></div>
                                        </div>
                                    </li> -->
                                </ul>
                                <a href="#" class="btn btn-primary btn-sm btn-block" role="button"> ОБНОВИТЬ</a></div>
                            <div class="input-group input-group-addon">
                                <input type="text" class="form-control" placeholder="Наберите сообщение">
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>

    <div role="tabpanel" class="tab-pane" id="subscriptions">
        <div style="margin-left: 2%; margin-right: 2%; margin-top: 10px">
            <div id="div_subscriptions"></div>
            <div class="main-content" style="margin-left: 0">
                <table>
                    <tr>
                        <td style="padding-top: 20px; padding-left: 30px;">
                            <label for="new_transaction_i_text">Алматы</label></td>
                        <td style="padding-top: 20px; padding-left: 30px;">
                            <button class="btn btn-primary btn-primary" style="margin-left: 5px; zoom: 0.8"
                                    id="subscribe1">Подписаться<span class="glyphicon glyphicon-pencil"></span></button>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-top: 20px; padding-left: 30px;">
                            <label for="new_transaction_i_text">Астана</label></td>
                        <td style="padding-top: 20px; padding-left: 30px;">
                            <button class="btn btn-primary btn-primary" style="margin-left: 5px; zoom: 0.8"
                                    id="subscribe2">Подписаться<span class="glyphicon glyphicon-pencil"></span></button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

</div>


<div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="container" style="margin-top: 20px">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-login">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-6">
                                <a href="#" class="active" id="login-form-link">Войти</a>
                            </div>
                            <div class="col-xs-6">
                                <a href="#" id="register-form-link">Зарегистрироваться</a>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form id="login-form" method="post" role="form" style="display: block;">
                                    <div class="form-group">
                                        <input type="text" name="username" id="username" class="form-control"
                                               placeholder="Имя пользователя" value="">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="password" id="password" class="form-control"
                                               placeholder="Пароль">
                                    </div>
                                    <div id="login-error-div"
                                         style="margin-bottom: 10px; text-align: center; color: red"></div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <input type="submit" name="login-submit" id="login-submit"
                                                       class="form-control btn btn-login" value="Войти">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <form id="register-form" method="post" role="form" style="display: none;">
                                    <div class="form-group">
                                        <input type="text" name="reg_username" id="reg_username" class="form-control"
                                               placeholder="Имя пользователя" value="">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="reg_password" id="reg_password"
                                               class="form-control" placeholder="Пароль">
                                    </div>
                                    <div class="form-group">
                                        <input type="email" name="reg_email" id="reg_email" class="form-control"
                                               placeholder="Email" value="">
                                    </div>
                                    <div id="register-error-div"
                                         style="margin-bottom: 10px; text-align: center; color: red"></div>
                                    <div id="register-success-div"
                                         style="margin-bottom: 10px; text-align: center; color: green"></div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <input type="submit" name="register-submit" id="register-submit"
                                                       class="form-control btn btn-register" value="Зарегистрироваться">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="myModalNewEvent" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="container" style="margin-top: 20px">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-login">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-6">
                                <a href="#" class="active" id="login-form-link">Новая работа</a>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form id="form_new_event" method="post" role="form" style="display: block;">
                                    Описание:
                                    <div class="form-group">
                                        <input id="new_event_text" class="form-control"
                                               placeholder="Описание работы">
                                    </div>
                                    Стоимость работы:
                                    <div class="form-group">
                                        <input type="number" id="new_event_price"
                                               class="form-control" placeholder="Стоимость"
                                               value="{{ profile.calories }}" contenteditable="false">
                                    </div>
                                    <div id="new-event-error-div"
                                         style="margin-bottom: 10px; text-align: center; color: red"></div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <input type="submit"
                                                       class="form-control btn btn-login" value="Добавить">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="editModalForm" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="edit_modal_header">Edit</h4>
            </div>
            <form id="edit_transaction_form">
                <div class="modal-body">
                    <div class="input-group">
                        <label for="edit_date">Дата</label>
                        <input type="date" name="edit_date" id="edit_date" class="form-control">
                    </div>
                    <div class="input-group">
                        <label for="edit_text">Описание операции</label>
                        <input type="text" name="edit_text" id="edit_text" class="form-control" placeholder="New Meal">
                    </div>
                    <div class="input-group">
                        <label for="edit_calories">Сумма</label>
                        <input type="number" id="edit_amount" class="form-control"
                               placeholder="Сумма">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<div class="modal fade" id="inviteModalForm" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="edit_modal_header">Invite a user</h4>
            </div>
            <form id="invite_form">
                <div class="modal-body">
                    <div class="input-group">
                        <label for="edit_text">User's email:</label>
                        <input type="email" name="invite_email" id="invite_email" class="form-control"
                               placeholder="New email">
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Invite</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script src="{% static "allscripts.js" %}"></script>
<script src="{% static "masters.js" %}"></script>
<script src="{% static "transactions.js" %}"></script>
<script src="{% static "users.js" %}"></script>
<script src="{% static "daypilot.js" %}"></script>

</body>
</html>
